<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>
<link rel="stylesheet" href="../css/forms.css">
</head>

<main>
    <h1><%= pageTitle %></h1>
</main>

<%- include('../includes/end.ejs') %>