<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<h1><%= pageTitle %></h1>
<p>An Error Occurred!</p>
<p>We're working on it, sorry for any inconvenience.</p>

<%- include('includes/end.ejs') %>