<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<main>
    <h1>My Products</h1>
    <% if (prods.length < 1) { %>
        <p>No products to display.</p>
    <% } else { %>
        <% for (let prod of prods) { %>
            <p><%= prod.title %></p>
        <% } %>
    <% } %>
</main>

<%- include('includes/end.ejs') %>